<li>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fec2-54-64-151-0.ap-northeast-1.compute.amazonaws.com%3A3000%2F&t=ToolStore" title="Share on Facebook" target="_blank">
    <!--<img src="images/social_flat_rounded_rects_svg/Facebook.svg">-->
    <%= image_tag "Facebook.svg", size: "20x20" %>
  </a>
</li>
<li>
  <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fec2-54-64-151-0.ap-northeast-1.compute.amazonaws.com%3A3000%2F&text=ToolStore:%20http%3A%2F%2Fec2-54-64-151-0.ap-northeast-1.compute.amazonaws.com%3A3000%2F" target="_blank" title="Tweet">
    <!--<img src="images/social_flat_rounded_rects_svg/Twitter.svg">-->
    <%= image_tag "Twitter.svg", size: "20x20" %>
  </a>
</li>

